/* 
  Full Article Styles
*/
.full-article {
  margin: 2rem 0;
  width: 100%;

  &-head {
    margin: 1rem 0;
  }
  &-meta {
    padding: 0.5rem 0;
    margin-bottom: 2rem;
    border-top: solid 1px #bbb;
    border-bottom: solid 1px #bbb;

    span {
      padding: 0 0.75rem;
    }
  }
  &-image {
    margin-bottom: 1rem;
    img {
      width: 100%;
    }
  }

  &-body {
    margin-bottom: 1.4rem;

    blockquote {
      background-color: #faebbc;
      border-top: 1px solid #e1cc89;
      border-bottom: 1px solid #e1cc89;
      margin: 5px;
    }
    .tr-bq {
      font-style: italic;
      color: #888;
      border-left: 5px solid #27ae60;
      margin-left: 0;
      padding: 10px 15px;
    }
    .tr-bq::before {
      content: "\f10d";
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      margin-right: 10px;
      color: #888;
    }
  }

  &-footer {
    div a {
      margin: auto 0.25rem;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*
  About Author Styles
*/

.about-author {
  margin: 2rem 0;
  padding: 0.75rem;
  width: 100%;
  border: 1px solid rgba(51, 51, 51, 0.4);

  display: flex;
  align-items: center;

  &-img {
    // flex: 0 1 20%;
    img {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      margin: 0 1.5rem;
    }
  }
  &-info {
    flex: 0 1 80%;
  }
}

@media screen and (max-width: 500px) {
  .about-author {
    &-img {
      display: none;
    }
  }
}

/* 
  COMMENTS SECTION
*/
.com {
  padding: 0;
}

.comments {
  // name related
  &-main {
    background: #fff;

    ul li {
      list-style: none;
    }
  }

  // nested classes
  .comment {
    padding: 0.75rem;
    background: var(--color-grey-light);
    border: 1px solid var(--color-primary);

    h4 {
      display: inline-block;
      font-size: 16px;
    }
  }
  .comment:hover time {
    opacity: 1;
  }

  .user-img img {
    width: 50px;
    height: 50px;

    // margin-right: 2rem;
  }
}

.comment time,
.comment:hover time,
.icon-rocknroll,
.like-count {
  -webkit-transition: 0.25s opacity linear;
  transition: 0.25s opacity linear;
}

// Deep nesting for nested comment
.comments {
  .comment {
    p {
      font-size: 13px;
      .reply {
        color: #bfbfa8;
        cursor: pointer;
      }

      .comments .comment .active {
        opacity: 1;
      }
    }

    .comments {
      .comment {
        h4 a {
          color: #404040;
          text-decoration: none;
        }
      }
    }
    .icon-rocknroll {
      color: #545454;
      font-size: 0.85rem;
    }
    .icon-rocknroll:hover {
      opacity: 0.5;
    }
  }
}

.comments .comment time,
.comments .comment .like-count,
.comments .comment .icon-rocknroll {
  font-size: 0.75rem;
  opacity: 0;
}
.comments .comment time,
.comments .comment .like-count {
  font-weight: 300;
}

.icon-rocknroll {
  background: none;
  outline: none;
  cursor: pointer;
  margin: 0 0.125rem 0 0;
}
.comments .comment:hover .icon-rocknroll,
.comments .comment:hover .like-count {
  opacity: 1;
}
.comment-box-main {
  background: #ca1d5f;
}
@media (min-width: 320px) and (max-width: 480px) {
  .comments .comment h4 {
    font-size: 12px;
  }
  .comments .comment p {
    font-size: 11px;
  }
  .comment-box-main .send-btn button {
    margin-left: 5px;
  }
}
