.logo {
  width: 8rem;
}

.carousel-inner img {
  margin: auto;
}

.sponsores-section {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.carousel-control-prev,
.carousel-control-next {
  color: var(--color-grey-dark);
  background-color: var(--color-grey-dark);
}

// second sponser component
div[lang="ar"] .caro {
  justify-content: flex-end;
}
