:root {
  --color-primary-light: rgb(165, 196, 227);
  --color-primary: rgb(91, 154, 207);
  --color-primary-dark: rgb(58, 139, 194);
  --color-secondary: #06d6a0;

  --color-grey-light: #faf9f9;
  --color-grey-dark: rgb(51, 51, 51);
}

.section {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
}

html {
  scroll-behavior: smooth;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--color-grey-light);
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media screen and (max-width: 415px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-height: 450px) {
  html {
    font-size: 75%;
  }
}

@media screen and (min-height: 1300px) {
  #hero {
    height: 50vh;
  }
}
