.about {
  &-head {
    margin-top: 3rem;

    &__picture-1 {
      float: right;
      margin: 0 0 0 2rem;
      width: 50%;
      object-fit: cover;
    }
    &__picture-2 {
      float: left;
      margin: 0 2rem 0 0;
      width: 50%;
      object-fit: cover;
    }
    &__text {
      font-size: 1.2rem;
      text-align: justify;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    &-head {
      &__picture-1,
      &__picture-2 {
        float: none;
        margin: 0 0 2rem 0;
        width: 100%;
        object-fit: cover;
      }

      &__text {
        font-size: 1.2rem;
        text-align: justify;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .about {
    &-head {
      &__picture {
        // margin: 0 0 1rem 2rem;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
